body {
  font-family: 'Noto Sans', sans-serif;
  color: #37474f;
  margin-top: 25px;
}

.today-block, .col-5 .nextdays-block {
  height: 560px;
  border: 4px solid ;
  border-radius: 2px;
  border-color: #7FBBB3;
}

.today-block { 
  width: 540px;
  margin: 10px 0 0 255px;
  padding: 30px 40px;
}

.col-5 .nextdays-block {
  width: 250px;
  margin: 10px 0 0 50px;
  padding: 30px 20px;
}

.h1-todayweather, .h1-nextdaysweather{
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.h1-nextdaysweather{
  margin-left: 12px;
}

.today-block .row {
  margin-top: 35px;
} 

.buttoncurrentcity,
.buttonsearch {
  background-color:#7FBBB3;
  box-shadow: 2px 2px 5px rgba(170, 164, 164, 0.918);
  border: transparent;
  border-radius: 5px;
  padding: 8px 10px;
  color: white;
  font-weight: bold;  
}

.buttonsearch {
  position: relative;
  left: 10px;
}

.buttoncurrentcity:hover, .buttonsearch:hover {
  background-color: #37474f; 
}

.entercity {
  position: relative;
  left:10px;
  width: 60%;
  text-align: left;
  border: 1.5px solid #7FBBB3;
  border-radius: 8px;
  padding: 8px 8px;
}

.city_hour_day {
  margin-top: 75px;
}

#city, #hour, .fa-map-marker-alt {
  display: inline;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 8px;
}

#day {
  font-size: 20px;
  margin-top: 8px;
}

#square1, .square2, .square3 {
  background-color:#4f6570;
  border-radius: 4px;
  color: white;
}

#square1 {
  position: relative;
  left: 15px;
  width: 310px;
  height: 150px;
}

.todayweather .fa-cloud {
  font-size: 80px;
  margin: 15px 10px;
}

#temp {
  display: inline;
  font-size: 55px;
}

#metric-symbol {
 font-size: 55px;
}

#description {
  margin-left: 15px;
  text-transform: capitalize;
}

.units {
  margin-top: 25px;
}

#button-cel,
#button-fah {
  width: 30px;
  background-color: transparent;
  border: transparent;
  border-radius: 1.5px;
  color: #37474f;
  font-size: 16px;
  text-align: center;
}

#button-cel:hover, #button-fah:hover {
  background-color: #4f6570;
  color:white;
}

.square2, .square3 {
  width: 150px;
  height: 62px;
  padding: 15px 0;
  margin: 0 15px;
  font-size: 20px;
  text-align: center;
}

.square3 {
  margin-top: 25px;
}

.fa-tint, .fa-wind {
  margin-right: 5px;
}

p.day {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

p.nextdaystemp{
  margin-bottom: 20px;
}

.col-4 i {
  font-size: 30px;
  color: #7FBBB3;
}

#first-icon {
 position: relative;
 top: 20px;
} 

#second-icon {
  position: relative;
  top: 60px;
} 

#third-icon {
  position: relative;
  top: 100px;
} 

#fourth-icon {
  position: relative;
  top: 140px;
} 

#fifth-icon {
  position: relative;
  top: 180px;
} 

#sixth-icon {
  position: relative;
  top: 220px;
} 

p.finalnote {
  margin: 15px 0 0 255px;
  font-size: 15px;
  }