body {
  font-family: 'Noto Sans', sans-serif;
  margin-top: 15px;
  color: white;
}

.today-block, .col-5 .nextdays-block {
  height: 550px;
  border: 1px solid ;
  border-radius: 2px;
  background-color: #7FBBB3;
}

.today-block { 
  width: 540px;
  margin: 10px 0 0 255px;
  padding: 30px 40px;
}

.col-5 .nextdays-block {
  width: 250px;
  margin: 10px 0 0 50px;
  padding: 30px 20px;
}

.h1-todayweather, .h1-nextdaysweather {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.h1-nextdaysweather {
  margin-left: 12px;
  margin-bottom: 35px;
}

.today-block .row {
  margin-top: 35px;
} 

.buttoncurrentcity,
.buttonsearch {
  background-color:#37474f; 
  border: transparent;
  border-radius: 5px;
  padding: 8px 10px;
  color: white;
  font-weight: bold;  
}

.buttonsearch {
  position: relative;
  left: 10px;
}

.buttoncurrentcity:hover, .buttonsearch:hover {
  background-color: rgb(76, 146, 146);
}

.entercity {
  position: relative;
  left:10px;
  width: 60%;
  border: 1.5px solid rgb(76, 146, 146);
  border-radius: 8px;
  padding: 8px 8px;
  text-align: left;
}

.city_hour_day {
  margin-top: 72px;
}

#city, #hour, .fa-map-marker-alt {
  display: inline;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 8px;
}

#day {
  font-size: 20px;
  margin-top: 8px;
}

#square1 {
  position: relative;
  left: 15px;
  width: 455px;
  height: 155px;
  background-color: rgb(76, 146, 146);
  border-radius: 4px;
}

.todayweather .icon {
  margin-left: 15px;
}

#temp {
  display: inline;
  position: relative;
  top: 20px;
  font-size: 60px;
}

#description {
  margin-left: 15px;
  text-transform: capitalize;
}

#humidity, #wind {
  font-size: 18px;
}

.fa-tint, .fa-wind {
  position: relative;
  margin-right: 8px;
  margin-top: 42px;
  font-size: 22px;
}

.fa-wind {
  margin-top: 12px;
}

.units {
  margin-top: 15px;
  font-size: 20px;
}

.units .active {
  color: white;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

#day1, #day2, #day3, #day4, #day5, #day6 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
}

.forecast {
  margin-bottom: 23px;
  color: #37474f; 
}

#max1, #max2, #max3, #max4, #max5, #max6 {
  font-size: 17px;
}

#min1, #min2, #min3, #min4, #min5, #min6 {
  font-size: 12px;
}

.col-5 img {
  width: 72px;
}

small {
  margin: 7px 270px;
  color: #37474f; 
}